* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
  }
  html {
    width: 100%;
    height: 100%;
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
  }
  .tabmenu {
    width: 800px;
    margin:200px auto;
    position: relative;
  }
  .tabmenu > ul > li {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
    background: #f9f9f9;
    border-radius: 50px;
  }
  .tabmenu > ul > li > a {
    display:block;
    line-height:50px;
    height:50px;
    text-decoration:none;
    color: #000;
  }
  .tabCon {
    display: none;
    text-align: left;
    padding: 80px;
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 100px;
    border: 5px solid #afc4e7;
  }
  .tabCon > h3 {font-size: 18px;}
  .tabCon > p {margin-top: 50px;}
  .btnCon:target {background: #afc4e7;}
  .btnCon:target > .tabCon {display: block;}